<div class="row justify-content-md-center mt-5">
    <div class="alert alert-danger  col-6" *ngIf="errors.length > 0">
        <ul>
            <li *ngFor="let error of errors">
                {{error.description}}
            </li>
        </ul>
    </div>
    <div class="alert alert-success col-6" role="alert" *ngIf="successfulSave">
        Person saved successfully!
    </div>
</div>

<form class="form-horizontal">
    <fieldset>
            <legend class="">Login</legend>


        <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="email">E-mail</label>
            <div class="controls">
                <input type="text" id="email" name="email" placeholder="" class="input-xlarge" [(ngModel)] ="email">
                <p class="help-block">Please provide your E-mail</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" id="password" name="password" placeholder="" class="input-xlarge" [(ngModel)] ="password">
                <p class="help-block">Provide your password</p>
            </div>
        </div>

        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <button class="btn btn-success" (click) ="login()">Login</button>
            </div>
        </div>
    </fieldset>
</form>